/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Page layout */
body {
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

/* Delivery container */
.delivery-container {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .delivery-container {
        flex-direction: row;
        padding: 50px;
        text-align: left;
    }
}

/* Delivery message */
.delivery-message {
    flex: 1;
    margin-right: 20px;
}

.delivery-message h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
}

.delivery-message p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #555;
}

.delivery-tracking h2 {
    margin-top: 20px;
    color: #333;
}

.delivery-tracking p {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

/* Delivery image */
.delivery-image {
    flex: 1;
}

.delivery-image img {
    max-width: 100%;
    height: auto;
}

/* Home button */
.home-button {
    display: inline-block;
    background-color: #778899;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: grey;
}
